.nav {
  background-color: var(--color-dark--2);
  padding: 1rem 2rem;
  border-radius: 7px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.nav a:hover {
  background-color: var(--color-dark--1);
}

.nav a:global(.active) {
  background-color: var(--color-dark--0);
}
