.nav {
  border-radius: 7px;
  border: 1px solid var(--border-light);
  padding-top: 1rem;
  box-shadow: var(--shadow-subtle);
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.nav a:hover {
  background-color: var(--color-dark--1);
}

.nav a:global(.active) {
  background-color: var(--background-active);
}

.nav li {
  padding: 0.1rem 2rem;
}

@media (max-width: 768px) {
  .nav a:link,
  .nav a:visited {
    padding: 0.5rem 0.5rem;
  }
}
