.projectsPreview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.projectsPreviewLink {
  text-decoration: none;
  color: var(--text-primary);
}

.projectsPreviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectsPreviewHeaderTitle {
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .projectsPreview {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .projectsPreviewHeader {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }

  .projectsPreviewLink {
    padding-bottom: 0.5rem;
  }
}
